<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button ion-button (click)="dismiss()">
        Cancel
      </button>
    </ion-buttons>
    <ion-title>Meter Reading</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="form" (ngSubmit)="saveReading(form.value, form.valid)">
    <ion-list>
      <ion-item>
        <ion-label floating>Reading (in kl)</ion-label>
        <ion-input type="text" formControlName="reading"></ion-input>
      </ion-item>
      <div *ngIf="form.controls.reading.errors && (submitted || form.controls.reading.touched) && form.controls.reading.errors.required" class="error-box">
        * Reading is required
      </div>
      <div *ngIf="form.controls.reading.errors && (submitted || form.controls.reading.touched) && form.controls.reading.errors.pattern" class="error-box">
        * Reading must be a number
      </div>
      <ion-item>
        <ion-label floating>Date/Time</ion-label>
        <ion-datetime displayFormat="DDDD DD MMM, h:mm A" pickerFormat="DD MMM YYYY h:mm A" formControlName="timestamp"></ion-datetime>
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button large block outline type="submit">Submit</button>
    </div>
  </form>
  <ion-fab bottom center>
    <button ion-fab (click)="showHelp()" class="help-button"><ion-icon name="help-circle"></ion-icon></button>
  </ion-fab>
  <div class="help-message" (click)="showHelp()">
    I need help!
  </div>
</ion-content>
