<ion-header>
  <ion-navbar>
    <ion-title>Stats</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
    <div *ngIf="showEmptyMessage == false">
      <ion-segment [(ngModel)]="filter">
        <ion-segment-button value="thisMonth" (ionSelect)="selectedThisMonth()">
          This month
        </ion-segment-button>
        <ion-segment-button value="lastMonth" (ionSelect)="selectedLastMonth()">
          Last month
        </ion-segment-button>
        <ion-segment-button value="allTime" (ionSelect)="selectedAllTime()">
          All time
        </ion-segment-button>
      </ion-segment>
      <ion-card *ngIf="filter != 'allTime'">
        <ion-card-content>
          {{ restrictionNotice }}
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <canvas baseChart width="400" height="400"
                       [datasets]="lineChartData"
                       [options]="lineChartOptions"
                       [colors]="lineChartColors"
                       [legend]="lineChartLegend"
                       [chartType]="lineChartType"></canvas>
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="filter != 'allTime'">
        <ion-card-content>
          <ul>
            <li *ngFor="let costEntry of costEntries">{{ costEntry }} </li>
          </ul>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngIf="showEmptyMessage === true">
      <img src="assets/logo.png">
      <h1>
        my water
      </h1>
      <div class="content">
        <div>Thank you for installing My Water.</div>
        <div>{{ emptyMessage }}</div>
      </div>
      <div class="shortcuts">
        <button ion-button icon-left (click)="loadInvoice()" *ngIf="!this.emptyStatus.invoices">
          <ion-icon name="pricetags-outline"></ion-icon>
          Load an invoice
        </button>
        <button ion-button icon-left outline (click)="loadReading()" *ngIf="!this.emptyStatus.readings">
          <ion-icon name="speedometer"></ion-icon>
          Record a reading
        </button>
      </div>
    </div>
  </div>
</ion-content>
