<ion-content>
  <img src="assets/logo_small.png">
  <h1>
    my water
  </h1>
  <h2 padding>
    Enter your email to reset your password
  </h2>
  <form [formGroup]="form" (ngSubmit)="resetPassword(form.value, form.valid)">
    <ion-list>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="form.controls.email.errors && (submitted || form.controls.email.touched) && form.controls.email.errors.required" class="error-box">
        * Email is required
      </div>
      <div *ngIf="form.controls.email.errors && (submitted || form.controls.email.touched) && form.controls.email.errors.invalidEmailAddress" class="error-box">
        * Invalid email address
      </div>
    </ion-list>
    <div padding>
      <button ion-button large block outline type="submit">Reset password</button>
    </div>
  </form>
  <button ion-button color="dark" clear large block (click)="backToSignUp()">Back to sign in</button>
</ion-content>
