<ion-header>
  <ion-navbar>
    <ion-title>
      Meter Readings
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="showEmpty === false">
    <ion-fab right bottom>
      <button ion-fab color="danger" (click)="showAddModal()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
    <ion-list>
      <ion-item *ngFor="let reading of (readings | async) | sortByDate" (click)="editReading(reading)">
        <div class="reading-entry">
          <div class="reading-date">{{ reading.timestamp | momentCalendar }}</div>
          <div class="reading-value">{{ reading.value | readingNumberFormat }}</div>
        </div>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="showEmpty === true">
    <img src="assets/logo_small.png">
    <h1>
      my water
    </h1>
    <div class="content">
      <div>You have not recorded any water meter readings yet.</div>
    </div>
    <div class="shortcuts">
      <button ion-button icon-left outline (click)="showAddModal()">
        <ion-icon name="speedometer"></ion-icon>
        Record a reading
      </button>
    </div>
  </div>
</ion-content>
